/**
 * @type { Object.<string, import("knex").Knex.Config> }
 */
module.exports = {

  development: {
    client: 'mysql',
    connection: {
      database: 'workoutTracker',
      user:     'root',
      password: ''
    }
  },

  production: {
    client: 'mysql',
    connection: {
      database: 'my_db',
      user:     'root',
      password: ''
    }
  }

};